<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="admin-side.Master.cs" Inherits="SkillSync.Pages.admin.admin_side" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>SkillSync Admin</title>
    <link href="../../css/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
